﻿
@{
    ViewData["Title"] = "TextToSpeechAction";
}

<div class="card-body p-2">
    <div class="row row-ex">
        <div class="col col-ex">
            <div class="item content" id="detail-item">
                <h4 class="title">Chính sách mới của Trung ương có hiệu lực từ tháng 9/2020</h4>
                <div class="item-info">
                    <div class="row row-ex">
                        <div class="col col-ex col-4">
                            <span class="time" data-time="1599091200000">Thứ năm, 03/09/2020 07:00 </span>
                        </div>
                        <div class="col col-ex col-8">
                            <div class="float-right">
                                <audio id="audio-player" controls="" style="display:none"></audio>
                                <a href="javascript:;" onclick="read()">
                                    <i class="fas fa-volume-up"></i>
                                    Đọc bài viết
                                </a>&nbsp;
                                <a href="javascript:window.open('/sphere/baria/vungtau/page/print.cpx?uuid=5f564cdf8ea5cc04b56a6558',
                                            '_blank');">
                                    <i class="fas fa-print"></i>
                                    In bài
                                </a>&nbsp;
                                <a href="javascript:;" data-toggle="modal" data-target="#send-email-modal">
                                    <i class="fas fa-envelope"></i>
                                    E-mail
                                </a>&nbsp;

                                <a href="javascript:screenPlus();">
                                    <i class="fas fa-sun"></i><sup>-</sup>

                                </a>&nbsp;
                                <a href="javascript:screenMinus();">
                                    <i class="fas fa-sun"></i><sup>+</sup>
                                </a>&nbsp;

                                <button onclick="fontMinus()">
                                    <b>A</b><sup>-</sup>
                                </button>
                                &nbsp;
                                <button onclick="fontPlus()">
                                    <b>A</b><sup>+</sup>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="brief">Quy định mới về quản lý và sử dụng viện trợ không hoàn lại; cưỡng ép kết hôn, cưỡng ép ly hôn bị phạt tiền từ 10-20 triệu đồng; thời gian nghỉ hè của giáo viên phổ thông từ năm học 2020-2021 là 8 tuần; quy định mới về mức hỗ trợ khám, chữa bệnh nghề nghiệp; biện pháp bảo vệ vị trí công tác của người tố cáo là cán bộ, công chức, viên chức... là những chính sách mới có hiệu lực từ tháng 9/2020.</div>-->
                <div class="row row-ex item-box" style="display: none;">
                    <div class="col col-ex col-sm-12 p-0">
                        <div id="box-tags-ref-news" class="card card-box">
                            <div class="card-body pt-0">
                                <ul class="list-news list-unstyled" id="list-news-involve">
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="content"><p style="text-align: justify;" data-mce-style="text-align: justify;"><strong>Quy định mới về quản lý và sử dụng viện trợ không hoàn lại; c</strong><strong>ưỡng ép kết hôn, cưỡng ép ly hôn bị phạt tiền từ 10-20 triệu đồng</strong><strong>; t</strong><strong>hời gian nghỉ hè của giáo viên phổ thông từ năm học 2020-2021 là 8 tuần</strong><strong>; quy định mới về mức hỗ trợ khám, chữa bệnh nghề nghiệp; </strong><strong>biện pháp bảo vệ vị trí công tác của người tố cáo là cán bộ, công chức, viên chức</strong><strong>... là những chính sách mới có hiệu lực từ tháng 9/2020.</strong></p><p style="text-align: justify;" data-mce-style="text-align: justify;"><strong>Quy định mới về quản lý và sử dụng viện trợ không hoàn lại</strong></p><p style="text-align: justify;" data-mce-style="text-align: justify;">Nghị&nbsp;định số&nbsp;80/2020/NĐ-CP&nbsp;ban hành ngày 8/7/2020 của Chính phủ về quản lý và sử dụng viện trợ không hoàn lại không thuộc hỗ trợ phát triển chính thức của các cơ quan, tổ chức, cá nhân nước ngoài dành cho Việt Nam có hiệu lực từ ngày 17/09/2020.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Theo Nghị&nbsp;định, việc quản lý và sử dụng viện trợ phải đảm bảo các nguyên tắc: Các khoản viện trợ chỉ&nbsp;được tiếp nhận, thực hiện, sử dụng khi đã&nbsp;được cấp có thẩm quyền của Việt Nam phê duyệt. Nguồn tiền viện trợ phải là nguồn tiền, tài sản hợp pháp; không tiếp nhận những hàng hóa (kể cả vật tư, thiết bị) thuộc danh mục các mặt hàng cấm nhập khẩu theo quy định của pháp luật; cơ quan chủ quản chịu trách nhiệm toàn diện trong quản lý và sử dụng hiệu quả khoản viện trợ.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Nghị&nbsp;định cấm các hành vi: Sử dụng viện trợ&nbsp;để phục vụ mục đích rửa tiền, tài trợ khủng bố, trốn thuế, xâm hại đến an ninh quốc gia và trật tự an toàn xã hội, phá hoại khối đại đoàn kết toàn dân tộc; xâm hại đạo đức xã hội, thuần phong, mỹ tục và bản sắc văn hóa dân tộc...</p><p style="text-align: justify;" data-mce-style="text-align: justify;"><strong>Sửa đổi, bổ sung một số quy định về phát hành trái phiếu doanh nghiệp</strong></p><p style="text-align: justify;" data-mce-style="text-align: justify;">Có hiệu lực từ ngày 1/9/2020, Nghị định số&nbsp;81/2020/NĐ-CP&nbsp;ban hành ngày 9/7/2020 của Chính phủ sửa đổi, bổ sung một số điều của Nghị định số&nbsp;163/2018/NĐ-CP&nbsp;ngày 4/12/2018 quy định về phát hành trái phiếu doanh nghiệp; trong đó sửa đổi khoản 8 Điều 6 về giao dịch trái phiếu.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Cụ thể, trái phiếu doanh nghiệp phát hành tại thị trường trong nước bị hạn chế giao dịch trong phạm vi dưới 100 nhà&nbsp;đầu tư không kể nhà&nbsp;đầu tư chứng khoán chuyên nghiệp, trong vòng một năm kể từ ngày hoàn thành đợt phát hành trừ trường hợp theo quyết định của Tòa án hoặc thừa kế theo quy định của pháp luật. Sau thời gian nêu trên, trái phiếu doanh nghiệp được giao dịch không hạn chế về số lượng nhà&nbsp;đầu tư, trừ trường hợp doanh nghiệp phát hành có quyết định khác. Trái phiếu doanh nghiệp phát hành ra thị trường quốc tế thực hiện theo quy định về giao dịch tại thị trường phát hành.</p><p style="text-align: justify;" data-mce-style="text-align: justify;"><strong>Cưỡng ép kết hôn, cưỡng ép ly hôn bị phạt tiền từ 10-20 triệu đồng</strong></p><p style="text-align: justify;" data-mce-style="text-align: justify;">Nghị&nbsp;định số&nbsp;82/2020/NĐ-CP&nbsp;ban hành ngày 15/7/2020 của Chính phủ quy định xử phạt vi phạm hành chính trong lĩnh vực bổ trợ tư pháp; hành chính tư pháp; hôn nhân và gia đình; thi hành án dân sự; phá sản doanh nghiệp, hợp tác xã có hiệu lực từ ngày 1/9/2020.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Trong đó, hành vi thực hiện sinh con bằng kỹ thuật hỗ trợ sinh sản vì mục đích thương mại, sinh sản vô tính, mang thai hộ vì mục đích thương mại sẽ bị phạt từ 5-10 triệu đồng; phạt tiền từ 1-3 triệu đồng đối với hành vi tổ chức lấy vợ, lấy chồng cho người chưa đủ tuổi kết hôn; phạt tiền từ 3-5 triệu đồng đối với hành vi duy trì quan hệ vợ chồng trái pháp luật với người chưa đủ tuổi kết hôn mặc dù&nbsp;đã có bản án, quyết định đã có hiệu lực pháp luật của Toà&nbsp;án.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Nghị định cũng quy định phạt tiền từ 10.000.000 đồng đến 20.000.000 đồng đối với một trong các hành vi sau:</p><p style="text-align: justify;" data-mce-style="text-align: justify;">- Kết hôn hoặc chung sống như vợ chồng giữa những người cùng dòng máu về trực hệ hoặc giữa những người có họ trong phạm vi ba đời;</p><p style="text-align: justify;" data-mce-style="text-align: justify;">- Kết hôn hoặc chung sống như vợ chồng giữa cha, mẹ nuôi với con nuôi;</p><p style="text-align: justify;" data-mce-style="text-align: justify;">- Cưỡng ép kết hôn hoặc lừa dối kết hôn; cưỡng ép ly hôn hoặc lừa dối ly hôn;</p><p style="text-align: justify;" data-mce-style="text-align: justify;">- Lợi dụng việc kết hôn để xuất cảnh, nhập cảnh, cư trú, nhập quốc tịch Việt Nam, quốc tịch nước ngoài; hưởng chế độ ưu đãi của Nhà nước hoặc để đạt được mục đích khác mà không nhằm mục đích xây dựng gia đình;</p><p style="text-align: justify;" data-mce-style="text-align: justify;">- Lợi dụng việc ly hôn để trốn tránh nghĩa vụ tài sản, vi phạm chính sách, pháp luật về dân số hoặc để đạt được mục đích khác mà không nhằm mục đích chấm dứt hôn nhân.</p><p style="text-align: justify;" data-mce-style="text-align: justify;"><strong>Thời gian nghỉ hè của giáo viên phổ thông từ năm học 2020-2021 là 8 tuần</strong></p><p style="text-align: justify;" data-mce-style="text-align: justify;">Nghị&nbsp;định số&nbsp;84/2020/NĐ-CP&nbsp;ban hành ngày 17/07/2020 của Chính phủ quy định chi tiết một số điều của Luật Giáo dục có hiệu lực từ ngày 01/09/2020.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Theo đó, thời gian nghỉ hè hằng năm của giáo viên cơ sở giáo dục mầm non, cơ sở giáo dục phổ thông, trường chuyên biệt là 8 tuần, bao gồm cả nghỉ phép hằng năm.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Thời gian nghỉ hè hằng năm của giáo viên trường trung cấp và giảng viên trường cao đẳng là 6 tuần, bao gồm cả nghỉ phép hằng năm. Còn đối với giảng viên cơ sở giáo dục đại học thì thời gian nghỉ hè thực hiện theo quy chế tổ chức và hoạt động của cơ sở giáo dục đại học.</p><p style="text-align: justify;" data-mce-style="text-align: justify;"><strong>Quy định thi tuyển phương án kiến trúc</strong></p><p style="text-align: justify;" data-mce-style="text-align: justify;">Nghị&nbsp;định&nbsp;85/2020/NĐ-CP&nbsp;ban hành ngày 17/07/2020 của Chính phủ quy định chi tiết một số điều của Luật Kiến trúc có hiệu lực từ ngày 07/09/2020, trong đó quy định thi tuyển phương án kiến trúc.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Theo đó, có hai hình thức thi tuyển là thi tuyển rộng rãi và thi tuyển hạn chế. Cụ thể, thi tuyển rộng rãi là hình thức tổ chức cuộc thi không hạn chế số&nbsp;lượng tổ chức, cá nhân trong nước, nước ngoài (nếu cần thiết) tham gia thi tuyển.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Thi tuyển hạn chế là hình thức tổ chức cuộc thi được áp dụng trong trường hợp chỉ có một số tổ chức, cá nhân tham gia thi tuyển (nhưng không dưới 3 tổ chức, cá nhân) đáp ứng được yêu cầu kỹ thuật hoặc tính đặc thù của công trình thi tuyển phương án kiến trúc.</p><p style="text-align: justify;" data-mce-style="text-align: justify;"><strong>Giới hạn tuổi tàu biển được đăng ký tại Việt Nam</strong></p><p style="text-align: justify;" data-mce-style="text-align: justify;">Có hiệu lực từ ngày 15/9/2020, Nghị định số&nbsp;86/2020/NĐ-CP&nbsp;ban hành ngày 23/07/2020 sửa đổi, bổ sung một số điều của Nghị định số&nbsp;171/2016/NĐ-CP&nbsp;ngày 27/12/2016 của Chính phủ về đăng ký, xóa đăng ký và mua, bán, đóng mới tàu biển.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Trong đó, Nghị&nbsp;định sửa đổi, bổ sung khoản 1 và khoản 4 Điều 7 về giới hạn tuổi tàu biển được đăng ký tại Việt Nam. Cụ thể, tuổi của tàu biển, tàu ngầm, tàu lặn, kho chứa nổi, giàn di động mang cờ quốc tịch nước ngoài đã qua sử dụng khi đăng ký tại Việt Nam được thực hiện theo quy định sau:</p><p style="text-align: justify;" data-mce-style="text-align: justify;">a- Tàu khách, tàu&nbsp;ngầm, tàu lặn: không quá 10 năm.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">b- Các loại tàu biển khác, kho chứa nổi, giàn di động: không quá 15 năm.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">c- Trường hợp đặc biệt do Bộ trưởng Bộ Giao thông vận tải quyết định nhưng không quá 20 năm và chỉ&nbsp;áp dụng đối với các loại tàu chở hóa chất, chở khí hóa lỏng, chở dầu hoặc kho chứa nổi.</p><p style="text-align: justify;" data-mce-style="text-align: justify;"><strong>Quy định về Cơ sở dữ liệu hộ tịch điện tử, đăng ký hộ tịch trực tuyến</strong></p><p style="text-align: justify;" data-mce-style="text-align: justify;">Nghị&nbsp;định&nbsp;87/2020/NĐ-CP&nbsp;ban hành ngày 28/07/2020 của Chính phủ quy định về Cơ sở dữ liệu hộ tịch điện tử, đăng ký hộ tịch trực tuyến có hiệu lực từ ngày 15/09/2020.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Nghị&nbsp;định này quy định về việc xây dựng, quản lý, cập nhật, khai thác, sử dụng Cơ sở dữ liệu hộ tịch điện tử; kết nối, chia sẻ dữ liệu giữa Cơ sở dữ liệu hộ tịch điện tử với Cơ sở dữ liệu quốc gia về dân cư, Cổng dịch vụ công quốc gia, Cổng dịch vụ công, Hệ thống thông tin một cửa điện tử cấp tỉnh, Cơ sở dữ liệu khác của bộ, ngành, địa phương; cấp bản sao trích lục hộ tịch, xác nhận thông tin hộ tịch; đăng ký hộ tịch trực tuyến.</p><p style="text-align: justify;" data-mce-style="text-align: justify;"><strong>Quy định mới về mức hỗ trợ khám, chữa bệnh nghề nghiệp</strong></p><p style="text-align: justify;" data-mce-style="text-align: justify;">Có hiệu lực từ ngày 15/09/2020, Nghị định&nbsp;88/2020/NĐ-CP&nbsp;ban hành ngày 28/07/2020 của Chính phủ quy định chi tiết và hướng dẫn thi hành một số điều của Luật An toàn, vệ sinh lao động về bảo hiểm tai nạn lao động, bệnh nghề nghiệp bắt buộc, trong đó quy định hỗ trợ khám bệnh, chữa bệnh nghề nghiệp.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Cụ thể, người sử dụng lao động được hỗ trợ kinh phí&nbsp;để khám bệnh nghề nghiệp cho người lao động theo quy định tại điểm a khoản 2 Điều 56 Luật An toàn, vệ sinh lao động khi người lao động có&nbsp;đủ các điều kiện sau đây:</p><p style="text-align: justify;" data-mce-style="text-align: justify;">1- Có thời gian đóng bảo hiểm tai nạn lao động, bệnh nghề nghiệp đủ từ 12 tháng trở lên và&nbsp;đang tham gia tính đến tháng liền kề trước tháng đề nghị hỗ trợ kinh phí khám bệnh nghề nghiệp cho người lao động.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">2- Đã&nbsp;được phát hiện bệnh nghề nghiệp tại các cơ sở khám bệnh, chữa bệnh.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Về mức hỗ trợ kinh phí khám bệnh nghề nghiệp, mức hỗ trợ bằng 50% chi phí khám bệnh nghề nghiệp tính theo biểu giá khám bệnh nghề nghiệp do Bộ trưởng Bộ Y tế ban hành tại thời điểm người lao động khám bệnh nghề nghiệp sau khi đã&nbsp;được bảo hiểm y tế chi trả, nhưng không quá 800 nghìn đồng/người/lần khám.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Số lần hỗ trợ tối đa đối với mỗi người lao động là 2 lần và trong 1 năm chỉ&nbsp;được nhận hỗ trợ 1 lần.</p><p style="text-align: justify;" data-mce-style="text-align: justify;"><strong>Mẫu Quy chế kiểm toán nội bộ tham chiếu cho doanh nghiệp; các cơ quan nhà nước, đơn vị sự nghiệp công lập từ 01/9/2020</strong></p><p style="text-align: justify;" data-mce-style="text-align: justify;">Bộ Tài chính ban hành 02 Thông tư 66/2020/TT-BTC và 67/2020/TT-BTC ban hành quy chế mẫu về kiểm toán nội bộ áp dụng cho doanh nghiệp và các cơ quan nhà nước, đơn vị sự nghiệp công lập; có hiệu lực từ ngày 01/9/2020.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Theo đó, các cơ quan nhà nước, đơn vị sự nghiệp công lập quy định tại Khoản 1, 2 Điều 8 và Điều 9&nbsp;Nghị định 05/2019/NĐ-CP&nbsp;ngày 22/01/2019 tham chiếu mẫu Quy chế kiểm toán nội bộ tại Phụ lục 1, Phụ lục 2, Phụ lục 3&nbsp;Thông tư 67/2020/TT-BTC&nbsp;để xây dựng Quy chế kiểm toán nội bộ, đảm bảo phù hợp với quy định của Nghị định 05/2019.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Các đơn vị các được khuyến khích xây dựng Quy chế kiểm toán nội bộ trên cơ sở tham chiếu mẫu Quy chế kiểm toán nội bộ trên nhưng không bắt buộc.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Các doanh nghiệp sau đây tham chiếu mẫu Quy chế kiểm toán nội bộ tại Phụ lục&nbsp;Thông tư 66/2020/TT-BTC&nbsp;để xây dựng Quy chế kiểm toán nội bộ, đảm bảo phù hợp với quy định của Nghị định 05/2019:</p><p style="text-align: justify;" data-mce-style="text-align: justify;">- Công ty niêm yết;</p><p style="text-align: justify;" data-mce-style="text-align: justify;">- Doanh nghiệp mà nhà nước sở hữu trên 50% vốn điều lệ là công ty mẹ hoạt động theo mô hình công ty mẹ - công ty con;</p><p style="text-align: justify;" data-mce-style="text-align: justify;">- Doanh nghiệp nhà nước là công ty mẹ hoạt động theo mô hình công ty mẹ - công ty con.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Những doanh nghiệp không thuộc diện nêu trên khuyến khích thực hiện mà không bắt buộc.</p><p style="text-align: justify;" data-mce-style="text-align: justify;"><strong>Chuẩn quốc gia về ngôn ngữ kí hiệu cho người khuyết tật</strong></p><p style="text-align: justify;" data-mce-style="text-align: justify;">Chuẩn quốc gia về ngôn ngữ kí hiệu cho người khuyết tật được ban hành kèm theo&nbsp;Thông tư 17/2020/TT-BGDĐT&nbsp;ngày 29/6/2020, có hiệu lực từ ngày 01/9/2020.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">- Mục đích: Chuẩn quốc gia về ngôn ngữ kí hiệu cho người khuyết tật quy định về hệ thống kí hiệu ngôn ngữ Việt Nam dành cho người khuyết tật nghe, nói sử dụng.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">- Hệ thống kí hiệu ngôn ngữ Việt Nam: Hệ thống kí hiệu ngôn ngữ Việt Nam trong quy định này bao gồm bảng quy ước mũi tên, bảng kí hiệu chữ cái và các dấu thanh, bảng kí hiệu chữ số và danh mục từ ngữ kí hiệu (Xem chi tiết tại Thông tư 17)</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Chuẩn quốc gia về ngôn ngữ kí hiệu cho người khuyết tật quy định tại Thông tư 17/2020 áp dụng đối với các cơ sở giáo dục thuộc hệ thống giáo dục quốc dân; các tổ chức, cá nhân thực hiện hoạt động giáo dục liên quan đến người khuyết tật.</p><p style="text-align: justify;" data-mce-style="text-align: justify;"><strong>Quy định mới về chế độ làm việc của giảng viên đại học</strong></p><p style="text-align: justify;" data-mce-style="text-align: justify;">Có hiệu lực thi hành từ 11/9/2020, Thông tư số&nbsp;20/2020/TT-BGDĐT&nbsp;của Bộ Giáo dục và Đào tạo quy định chế độ làm việc của giảng viên cơ sở giáo dục đại học, trong đó bổ sung một số nội dung mới về định mức giờ chuẩn giảng dạy và nghiên cứu khoa học của giảng viên.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Theo đó, Thông tư 20/2020/TT-BGDĐT bổ sung quy định cụ thể thời gian làm việc của giảng viên trong năm học là 44 tuần (tương đương 1.760 giờ hành chính) để thực hiện nhiệm vụ giảng dạy, nghiên cứu khoa học, phục vụ cộng đồng và thực hiện các nhiệm vụ chuyên môn khác, được xác định theo năm học sau khi trừ số ngày nghỉ theo quy định.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Để phù hợp với năng lực giảng dạy, nghiên cứu khoa học của mỗi giảng viên, chiến lược phát triển của mỗi nhà trường, tăng cường thực hiện quyền tự chủ của các trường, Thông tư cũng quy định linh hoạt định mức giờ chuẩn và nghiên cứu khoa học, giao thủ trưởng cơ sở giáo dục đại học căn cứ vào thực tế của đơn vị; mục tiêu, chiến lược phát triển nhà trường; đặc thù của môn học, ngành học để quyết định định mức giờ chuẩn của giảng viên trong một năm học cho phù hợp.</p><p style="text-align: justify;" data-mce-style="text-align: justify;"><strong>Biện pháp bảo vệ vị trí công tác của người tố cáo là cán bộ, công chức, viên chức</strong></p><p style="text-align: justify;" data-mce-style="text-align: justify;">Bộ Nội vụ ban hành Thông tư số&nbsp;03/2020/TT-BNV&nbsp;quy định chi tiết về thẩm quyền, trình tự, thủ tục, biện pháp bảo vệ vị trí công tác của người tố cáo là cán bộ, công chức, viên chức, có hiệu lực thi hành kể từ ngày 05/9/2020.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Thông tư nêu rõ, bảo vệ vị trí công tác của người tố cáo là cán bộ, công chức, viên chức là việc bảo vệ công việc gắn với chức danh, chức vụ, vị trí việc làm của cán bộ, công chức; công việc hoặc nhiệm vụ gắn với chức danh nghề nghiệp hoặc chức vụ quản lý của viên chức trong quá trình giải quyết tố cáo.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Người có thẩm quyền giải quyết tố cáo áp dụng biện pháp bảo vệ vị trí công tác của người tố cáo là cán bộ, công chức, viên chức thuộc quyền quản lý.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">Cơ quan, tổ chức, đơn vị, cá nhân được người có thẩm quyền giải quyết tố cáo yêu cầu hoặc đề nghị thực hiện biện pháp bảo vệ vị trí công tác của người tố cáo là cán bộ, công chức, viên chức trong trường hợp người tố cáo đó không thuộc thẩm quyền quản lý của người có thẩm quyền giải quyết tố cáo.</p><p style="text-align: justify;" data-mce-style="text-align: justify;"><strong>Sửa đổi, bổ sung một số quy định về lựa chọn nhà thầu qua Hệ thống mạng đấu thầu Quốc gia</strong></p><p style="text-align: justify;" data-mce-style="text-align: justify;">Thông tư 05/2020/TT-BKHĐT&nbsp;sửa đổi, bổ sung một số nội dung của&nbsp;Thông tư 04/2017/TT-BKHĐT&nbsp;ngày 15/11/2017 về lựa chọn nhà thầu qua Hệ thống mạng đấu thầu Quốc gia, đơn cử như sau:</p><p style="text-align: justify;" data-mce-style="text-align: justify;">- Bổ sung Khoản 8 Điều 4; Khoản 9 Điều 15.</p><p style="text-align: justify;" data-mce-style="text-align: justify;">- Sửa đổi, bổ sung Khoản 8 Điều 15; Điều 16; Khoản 2 Điều 29; Khoản 2 Điều 32.</p><p style="text-align: right;" data-mce-style="text-align: right;"><strong>&nbsp;Ngọc Dung </strong><em>(tổng hợp)</em></p></div>
            </div>
        </div>
    </div>
    <div class="row row-ex">
        <div class="col col-ex">
            <div class="border-top pt-2">
                <div class="row row-ex">
                    <div class="col-ex col-4">
                        <div class="fb-share-button fb_iframe_widget" data-href="/sphere/baria/vungtau/page/xem-tin.cpx?uuid=5f564cdf8ea5cc04b56a6558" data-layout="button" data-size="large" data-mobile-iframe="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=218&amp;href=http%3A%2F%2Fbaria-vungtau.gov.vn%2Fsphere%2Fbaria%2Fvungtau%2Fpage%2Fxem-tin.cpx%3Fuuid%3D5f564cdf8ea5cc04b56a6558&amp;layout=button&amp;locale=vi_VN&amp;mobile_iframe=true&amp;sdk=joey&amp;size=large"><span style="vertical-align: bottom; width: 87px; height: 28px;"><iframe name="f2a44e2be902ef8" width="1000px" height="1000px" data-testid="fb:share_button Facebook Social Plugin" title="fb:share_button Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v3.0/plugins/share_button.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2d0ccef0ab5038%26domain%3Dbaria-vungtau.gov.vn%26origin%3Dhttp%253A%252F%252Fbaria-vungtau.gov.vn%252Ff180021be92ecfc%26relation%3Dparent.parent&amp;container_width=218&amp;href=http%3A%2F%2Fbaria-vungtau.gov.vn%2Fsphere%2Fbaria%2Fvungtau%2Fpage%2Fxem-tin.cpx%3Fuuid%3D5f564cdf8ea5cc04b56a6558&amp;layout=button&amp;locale=vi_VN&amp;mobile_iframe=true&amp;sdk=joey&amp;size=large" style="border: none; visibility: visible; width: 87px; height: 28px;" class=""></iframe></span></div>
                        <div id="___plus_0" style="position: absolute; width: 450px; left: -10000px;"><iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position:absolute;top:-10000px;width:450px;margin:0px;border-style:none" tabindex="0" vspace="0" width="100%" id="I0_1600144713205" name="I0_1600144713205" src="https://apis.google.com/u/0/se/0/_/+1/sharebutton?plusShare=true&amp;usegapi=1&amp;action=share&amp;annotation=bubble&amp;height=24&amp;hl=vi&amp;origin=http%3A%2F%2Fbaria-vungtau.gov.vn&amp;url=http%3A%2F%2Fbaria-vungtau.gov.vn%2Fsphere%2Fbaria%2Fvungtau%2Fpage%2Fxem-tin.cpx%3Fitem%3D5f564cdf8ea5cc04b56a6558&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.vi.GvGQknA8E1g.O%2Fam%3DwQE%2Fd%3D1%2Fct%3Dzgms%2Frs%3DAGLTcCMsrxwKQn_wxHYgIxdxdRd5qnmjng%2Fm%3D__features__#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1600144713205&amp;_gfid=I0_1600144713205&amp;parent=http%3A%2F%2Fbaria-vungtau.gov.vn&amp;pfname=&amp;rpctoken=33669544" data-gapiattached="true"></iframe></div><div class="g-plus" data-action="share" data-annotation="bubble" data-height="24" data-gapiscan="true" data-onload="true" data-gapistub="true"></div>
                    </div>
                    <div class="col-ex col-4"></div>
                    <label class="col-ex col-2 text-right">Đánh giá:</label>
                    <div class="col-ex col-2">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div id="item-rating" class="rating col-ex col-2">
                        <i class="empty far fa-star"></i>
                        <i class="empty far fa-star"></i>
                        <i class="empty far fa-star"></i>
                        <i class="empty far fa-star"></i>
                        <i class="empty far fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>

